
.input-block-level{
	height:auto !important;
}
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  	width: 90px;
	border-radius:none;
}
.fancybox-skin {
    border: 5px solid #e48b05;
	font-size:12px;
}

.btn-pop{
float:right;
margin-top:20px;
margin-bottom:20px;
}

.btn-primary-pop{
       background-color: #058ab9!important;
    background-position: 0px -15px;
	color:#fff;
	border-radius:0px;
	border-color:#e48b05;
}
.btn-primary-pop:hover{
 background-color: #e48b05!important;
border-radius:0px;
    background-position: 0px -15px;
	color:#fff;
}

.form-control { 
    border-radius: 0px;
}

.form-pop-container {
    margin: 0px;
    float: left;
}

.f-box{
margin: 0px 0px 0px 4px;
margin-top: 20px;
}
.img-title{
margin-top:10px;
}

.btn-pop {
border-radius:0px;
}

input{
margin : 2px;
}
.room_box_child{margin-right:10px;}





.form-group label {
    float: left;
    width:148px;
}

#bulk_form input[type="text"],#bulk_form select,#bulk_form textarea {
    border-radius: 6px;
    padding: 8px;
    border: 1px solid #DDD;
    margin: 0px;   
    display: inline-block;
    color: #024A75;
    font-size: 14px;
    width: 60%;
}